apiVersion: v1
kind: Service
metadata:
  name: garmin-connect-api
  labels:
    app: garmin-connect-api
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8000
      protocol: TCP
  selector:
    app: garmin-connect-api
